@import 'https://fonts.googleapis.com/css?family=Roboto:100,300';
 @import 'https://fonts.googleapis.com/css?family=Roboto+Mono:300,700';
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Mono';
  letter-spacing: 1px;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: none;
  background: rgba(217, 217, 217, 0.58);
  overflow: hidden;
  position: absolute;
  z-index: 1;
  transition: all 0.3s;
}

/* Authorization */
.auth-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 90%;
  backdrop-filter: blur(6px);
}

.auth-heading {
  color: #2c3e50;
  margin-bottom: 1.5rem;
}

.auth-input {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-family: 'Roboto Mono';
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.auth-btn {
  padding: 0.8rem;
  background: #4b6398;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: 'Roboto Mono';
  transition: background 0.3s;
  width: 100%;
  margin-bottom: 0.5rem;
}

.auth-btn:hover {
  background: #3a4d7a;
}

.auth-message {
  margin-top: 1rem;
  color: #2c3e50;
  font-size: 0.9rem;
}


.themes{
	/* padding: 1rem; */
    z-index: 100;
	
}
select {
  flex: 1;
}
select {
	margin-top: 1rem;
  flex: 1;
  appearance: base-select;
  border: 2px solid #ddd;
  background: #eee;
  padding: 10px;
  transition: 0.4s all;
  font-size: small ;
  width: 7rem;
}
select:hover,
select:focus {
  background: #ddd;
}
select::picker-icon {
  color: #999;
  transition: 0.4s all;
}
select:open::picker-icon {
  rotate: 180deg;
}
::picker(select) {
  border: none;
}
label {
  width: fit-content;
  align-self: center;
}
option{
	transition: all 0.5s;
}

.circle {
  z-index: 9999;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
h1 {
  margin: 0px 0 0;
  color: #2c3e50;
  font-size: 2.5rem;
}
#timer, #high-score, #moves {
  font-size: 1.2rem;
  margin: 8px auto;
  padding: 10px 25px;
  color: #fff;
  border-radius: 25px;
  display: inline-block;
  /* font-weight: bold; */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
#timer {font-size:0.8rem; color:black; margin-right: 1rem}
#timer::before { content: "🕒 "; margin-right: 5px; font-size:0.8rem;; color: black; }
#high-score { font-size:0.8rem; color: black; margin-right: 1rem;}
#moves { font-size:12px; color: black; }
.grid {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-gap: 1rem;
  justify-content: center;
  margin: 0.6rem auto;
  padding: 20px;
  /*background-color: #c8a8d8;*/
  background: linear-gradient(90deg,rgba(170, 172, 191, 0.5) 0%, rgba(157, 164, 191, 0.5) 99%);
  transition: all 0.3s;
  width: fit-content;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1rem);
	
}
.main, .heading, .btn{
	visibility: hidden; /* Initially hidden */
	opacity: 0;          /* Fully transparent */
	transition: all 1s linear 2s, opacity 1s linear 2s;
}
.grid:hover{
	transform: scale(1.01);
    transition: all 0.3s;
}
.main.show, .btn.show ,.heading.show {
  margin-bottom: 1rem;
  visibility: visible; /* Show the element after the delay */
  opacity: 1;
}
.card {
  object-fit: contain;
  width: 120px;
  height: 120px;
  perspective: 1000px;
  position: relative;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card.flipped .card-inner {
  transform: rotateY(180deg);
}
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
}
.card-front {
  background-color: #ccc;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 10px;
  background: rgb(243, 246, 255);
}
.card-back img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.card-back {
  transform: rotateY(180deg);
}
.card-back :hover,.card-front:hover, .card:hover, .card-inner:hover,.card.flipped:hover{
	transform: scale(99%);
	transition: all 0.3s;
}
.card-back ,.card-front, .card, .card-inner,.card.flipped{
	transition: all 0.3s;
}
.scoring{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}
.non-bt{
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: auto;
    box-sizing: border-box;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    cursor: none;
    transition: all 0.5s;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin: 2rem ;
}


/*.footer {*/
/*  margin-top: 40px;*/
/*  color: #555;*/
/*  font-size: 0.9rem;*/
/*}*/
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media screen and (max-width: 520px) {
  .grid {
    grid-template-columns: repeat(2, 120px);
  }
}




.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  display: flex;
  justify-content: space-between; /* Distribute lines evenly */
}

.line {
  position: relative;
  width: 1px;
  height: 100%;
  /*background: #ffffff;  /* Line color */
  overflow: hidden;
  z-index: 47;
}

.line::after {
  content: '';
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: drop 5s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

/* Different colors for each line's pseudo-element */
.line:nth-child(1)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF4500 75%, #FF4500 100%);
  animation-delay: 0.5s;
}

.line:nth-child(2)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #32CD32 75%, #32CD32 100%);
  animation-delay: 1s;
}

.line:nth-child(3)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #1E90FF 75%, #1E90FF 100%);
  animation-delay: 1.5s;
}

.line:nth-child(4)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FFD700 75%, #FFD700 100%);
  animation-delay: 2s;
}

.line:nth-child(5)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #8A2BE2 75%, #8A2BE2 100%);
  animation-delay: 2.5s;
}

.line:nth-child(6)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #20B2AA 75%, #20B2AA 100%);
  animation-delay: 3s;
}

.line:nth-child(7)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #DC143C 75%, #DC143C 100%);
  animation-delay: 3.5s;
}

.line:nth-child(8)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #00FA9A 75%, #00FA9A 100%);
  animation-delay: 4s;
}

.line:nth-child(9)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF1493 75%, #FF1493 100%);
  animation-delay: 4.5s;
}

.line:nth-child(10)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #00BFFF 75%, #00BFFF 100%);
  animation-delay: 5s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

html, body {
	padding: 0; margin: 0;
}

.eyeball {
	position: relative;
	width: 100vw;
	min-width: 800px;
	height: 100vh;
	min-height: 600px;
	background: linear-gradient(-45deg, #8691b3, #edeef3);
	z-index: -1;
}
	.eyeball *, .eyeball *:before, body *:after {
		content: '';
		position: absolute;
		top: 50%; left: 50%;
		z-index: -1;
	}


.eye {
	width: 332px; height: 332px;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background: #EBEDF3;
	filter: blur(5px);

	animation: eyeAnimation 4s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes eyeAnimation {
	0%, 33%, 100% {
		box-shadow: inset -8px -13px 20px -10px rgba(230, 230, 236, 0.04), 64px 55px 40px -40px #38406A, 20px 18px 30px -10px #38406A, inset -70px -50px 60px -30px #4b6398, inset -90px -90px 70px -90px #697398, inset -70px -50px 100px -40px #697398, inset 80px 50px 80px -50px #eeeef3, -25px -15px 50px -10px #F6F6FB, 14px -1px 50px -10px #7e7ea9, 1px 9px 50px -10px #7e7ea9, inset -90px 40px 60px -20px rgba(116, 66, 255, 0.1), inset -90px -120px 60px -20px rgba(116, 66, 255, 0.1);
    transform: translate(-50%, -50%) scale(1.25);
	}
	65% {
		box-shadow: inset -8px -13px 60px -10px rgba(230, 230, 236, 0.2), 44px 35px 20px -20px #687294, 11px 9px 9px -4px #6e799d, inset -100px -70px 40px -110px #6A789C, inset -90px -90px 70px -90px #697398, inset -70px -50px 100px -40px #697398, inset 80px 50px 80px -50px #eeeef3, -25px -15px 30px -10px #F6F6FB;
		transform: translate(-50%, -50%) scale(1);
	}
}


	.eye::after {
		width: 160px; height: 160px;
		border-radius: 50%;
		box-shadow: inset -50px -20px 30px 0px #e7e2f5, inset 100px 10px 20px -27px #2f2c4c, 0px 0px 10px 7px rgba(231, 226, 245, 1);

		animation: pupilAnimationSize 4s cubic-bezier(1, 0, 1, 1) infinite,
							 pupilAnimationView 4s ease infinite;
	}
@keyframes pupilAnimationSize {
	0%, 30%, 100% { transform: translate(-50%, -50%) scale(0.85); }
	40%, 90% 			{ transform: translate(-50%, -50%) scale(0.5); }
}
@keyframes pupilAnimationView {
	0%, 30%, 100% {
		box-shadow: inset -50px -20px 30px 0px #e7e2f5, inset 100px 10px 20px -27px #2f2c4c, 0px 0px 10px 7px rgba(231, 226, 245, 1);
	}
	60%, 66% {
		box-shadow: inset -50px -20px 30px 0px rgba(231, 226, 245, 0), inset 10px 10px 70px -27px rgba(47, 44, 76, 0), 0px 0px 10px 7px hsla(256, 49%, 92%, 0);
	}
	90% {
		box-shadow: inset -50px -20px 30px 0px #e7e2f5, inset 100px 10px 20px -27px #2f2c4c, 0px 0px 10px 7px rgba(231, 226, 245, 1);
	}
}


.circle-1 {
	width: 475px; height: 475px;
	border-radius: 50%;
	border: 1px solid transparent;
	border-right-color: rgba(223, 228, 255, 0.6);

	animation: circle1AnimationOpacity 4s ease infinite,
						 circle1AnimationMove 4s ease infinite;
}
@keyframes circle1AnimationMove {
	00%, 100% 		{ transform: translate(-50%, -50%) rotate(49deg); }
	07% 					{ transform: translate(-50%, -50%) rotate(38deg); }
	12%, 19%, 68% { transform: translate(-50%, -50%) rotate(42deg); }
	26%, 30% 			{ transform: translate(-50%, -50%) rotate(82deg); }
	73% 					{ transform: translate(-50%, -50%) rotate(34deg); }
	87%, 92% 			{ transform: translate(-50%, -50%) rotate(69deg); }
	94% 					{ transform: translate(-50%, -50%) rotate(65deg); }
}
@keyframes circle1AnimationOpacity {
	00%, 27%, 73%, 100% { opacity: 1; }
	30%, 70% 						{ opacity: 0; }
}


.circle-2 {
	width: 475px; height: 475px;
	border-radius: 50%;
	border: 1px solid transparent;
	border-right-color: rgba(223, 228, 255, 0.6);

	animation: circle2AnimationOpacity 4s ease infinite,
						 circle2AnimationMove 4s ease infinite;
}
@keyframes circle2AnimationMove {
	0%, 100% { transform: translate(-50%, -50%) rotate(229deg); }
	9% 			 { transform: translate(-50%, -50%) rotate(220deg); }
	14%, 21% { transform: translate(-50%, -50%) rotate(225deg); }
	29%, 67% { transform: translate(-50%, -50%) rotate(262deg); }
	82% 		 { transform: translate(-50%, -50%) rotate(241deg); }
	90%, 94% { transform: translate(-50%, -50%) rotate(249deg); }
	99% 		 { transform: translate(-50%, -50%) rotate(245deg); }
}
@keyframes circle2AnimationOpacity {
	0%, 27%, 79%, 100% { opacity: 1; }
	30%, 76% 					 { opacity: 0; }
}


.circle-3 {
	left: calc(50% + 93px);
	top: calc(50% - 189px);
	width: 106px; height: 280px;
	overflow: hidden;
}
	.circle-3::before {
		left: -275%;
		top: -4%;
		width: 393px;
		height: 393px;
		border-radius: 50%;
		border: 1px solid transparent;
		border-right-color: rgba(223, 228, 255, 0.6);

		animation: circle3Animation 4s ease infinite;
	}
@keyframes circle3Animation {
	0%   { transform: rotate(-3deg); }
	20%  { transform: rotate(-107deg); }
	79%  { transform: rotate(-286deg); }
	100% { transform: rotate(-364deg); }
}


.circle-4 {
	width: 295px; height: 295px;
	border-radius: 50%;
	border: 1px solid transparent;
	border-right-color: rgb(251, 251, 251);
	border-left-color: rgba(251, 251, 251, 0.2);

	animation: circle4AnimationMove 4s cubic-bezier(1, 0, 1, 1) infinite,
						 circle4AnimationOpacity 4s ease infinite;
}
@keyframes circle4AnimationMove {
	0%, 100% { transform: translate(-50%, -50%) rotate(219deg) scale(1); }
	6% 			 { transform: translate(-50%, -50%) rotate(221deg) scale(0.9); }
	16% 		 { transform: translate(-50%, -50%) rotate(302deg) scale(0.9); }
	22% 		 { transform: translate(-50%, -50%) rotate(307deg) scale(0.9); }
	29% 		 { transform: translate(-50%, -50%) rotate(312deg) scale(0.93); }
	33% 		 { transform: translate(-50%, -50%) rotate(310deg) scale(0.93); }
	36% 		 { transform: translate(-50%, -50%) rotate(300deg) scale(0.7); }
	39% 		 { transform: translate(-50%, -50%) rotate(220deg) scale(0.92); }
	50%, 57% { transform: translate(-50%, -50%) rotate(248deg) scale(0.92); }
	66% 		 { transform: translate(-50%, -50%) rotate(225deg) scale(0.92); }
	73%, 81% { transform: translate(-50%, -50%) rotate(243deg) scale(0.92); }
	93% 		 { transform: translate(-50%, -50%) rotate(215deg) scale(1); }
}
@keyframes circle4AnimationOpacity {
	00%, 33%, 50%, 100% { opacity: 1; }
	36%, 39% { opacity: 0; }
}


.circle-5 {
	width: 100px; height: 100px;
	transform: translate(-50%, -50%);
	
	animation: circle5AnimationSize 4s cubic-bezier(1, 0, 1, 1) infinite,
						 circle5AnimationView 4s ease infinite;
}
	.circle-5::before {
		width: 173px; height: 173px;
		border-radius: 50%;
		border: 1px solid rgb(251, 251, 251);
		transform: translate(-50%, -50%);
	}
	.circle-5::after {
		width: 177px; height: 177px;
		border-radius: 50%;
		border: 1px solid rgb(251, 251, 251);
		transform: translate(-50%, -50%);
	}
@keyframes circle5AnimationSize {
	0%, 38%, 82.82%, 100% { transform: translate(-50%, -50%) scale(1); }
	45%, 75.44% 					{ transform: translate(-50%, -50%) scale(0.7); }
}
@keyframes circle5AnimationView {
	0%, 5.7%, 7.4%, 9.8%, 11.5%, 14%, 15.6%, 18.9%, 21.3%, 23.8%, 25.4%, 28.7%, 35.3%, 42%, 77.9%, 82.7%, 83.6%, 85.2%, 86.1%, 91.8%, 93.5%, 97.6%, 100% { opacity: 1; }
	2.5%, 6.6%, 8.2%, 10.7%, 14.8%, 18%, 20.5%, 22.1%, 24.6%, 27.9%, 36%, 88.6% { opacity: 0.5; }
	47%, 77.8%, 82.8%, 83.5%, 85.3%, 86%, 90.2%, 92.7%, 96.8%, 99.2% { opacity: 0; }
}


.circle-6 {
	top: 50%; left: 50%;
	width: 190px; height: 190px;
	background: repeating-conic-gradient(from 0deg, rgba(179, 221, 255, 0.4) 0deg 1deg, transparent 1deg 2deg);
	clip-path: url(#bagel1);
	border-radius: 50%;

	animation: circle6Animation 4s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes circle6Animation {
	0% {
		transform: translate(-50%, -50%) scale(1);
	}
	8%, 35% {
		transform: translate(-50%, -50%) scale(0.93);
		opacity: 1;
	}
	40%, 90% {
		transform: translate(-50%, -50%) scale(0.2);
		opacity: 0;
	}
	95%, 100% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
}

.circle-7 {
	top: 50%; left: 50%;
	width: 142px; height: 142px;
	filter: blur(1px);

	animation: circle6Animation 4s -0.1s cubic-bezier(1, 0, 1, 1) infinite;
}
	.circle-7::before {
		top: 0; left: 0;
		width: 100%; height: 100%;
		background: repeating-conic-gradient(from 0deg, rgba(114, 87, 187, 0.6) 0deg 2deg, transparent 2deg 8deg);
		clip-path: url(#bagel2);
		border-radius: 50%;
	}


.circle-8 {
	top: 50%; left: 50%;
	width: 120px; height: 120px;
	background: repeating-conic-gradient(from 0deg, rgba(236, 247, 255, 0.68) 0deg 1deg, transparent 1deg 2deg);
	clip-path: url(#bagel3);
	border-radius: 50%;

	animation: circle6Animation 4s -0.13s cubic-bezier(1, 0, 1, 1) infinite;
}


.circle-9 {
	top: 50%; left: 50%;
	width: 76px; height: 76px;
	background: repeating-conic-gradient(from 0deg, rgba(236, 247, 255, 0.68) 0deg 1deg, transparent 1deg 2deg);
	clip-path: url(#bagel4);
	border-radius: 50%;

	animation: circle6Animation 4s -0.16s cubic-bezier(1, 0, 1, 1) infinite;
}


.circle-10 {
	top: 50%; left: 50%;
	width: 190px; height: 190px;
	background: radial-gradient(rgba(230, 245, 255, 0.6), rgba(201, 243, 255, 0.5), rgba(74, 105, 160, 0.3), transparent 70%);
	clip-path: url(#bagel1);
	border-radius: 50%;

	animation: circle10Animation 4s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes circle10Animation {
	0% {
		transform: translate(-50%, -50%) scale(1);
	}
	4%, 30% {
		transform: translate(-50%, -50%) scale(0.93);
		opacity: 1;
	}
	35%, 93% {
		transform: translate(-50%, -50%) scale(0);
		opacity: 0;
	}
	98%, 100% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
}


.circle-11 {
	top: 50%; left: 50%;
	width: 190px; height: 190px;
	background: repeating-conic-gradient(from 0deg, rgba(229, 243, 255, 0.1) 0deg 1deg, transparent 1deg 8deg, rgba(229, 243, 255, 0.3) 8deg 9deg, transparent 9deg 10deg, rgba(229, 243, 255, 0.1) 10deg 11deg, transparent 11deg 72deg);
	clip-path: url(#bagel1);
	border-radius: 50%;

	animation: circle11Animation 4s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes circle11Animation {
	0%, 98%, 100% {
		transform: translate(-50%, -50%) rotate(0deg);
		opacity: 1;
	}
	15% {
		transform: translate(-50%, -50%) rotate(45deg);
	}
	25% {
		transform: translate(-50%, -50%) rotate(-10deg);
	}
	30% {
		opacity: 1;
	}
	35% {
		transform: translate(-50%, -50%) rotate(-20deg);
		opacity: 0;
	}
	93% {
		transform: translate(-50%, -50%) rotate(80deg);
		opacity: 0;
	}
}


.circle-12 {
	top: 50%; left: 50%;
	width: 190px; height: 190px;
	background: repeating-conic-gradient(from 0deg, rgba(208, 233, 255, 0.2) 20deg 21deg, transparent 21deg 40deg, rgba(192, 223, 249, 0.25) 40deg 41deg, transparent 41deg 43deg, rgba(179, 220, 255, 0.15) 43deg 44deg, transparent 44deg 76deg);
	clip-path: url(#bagel1);
	border-radius: 50%;

	animation: circle12Animation 4s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes circle12Animation {
	0%, 96%, 100% {
		transform: translate(-50%, -50%) rotate(0deg);
		opacity: 1;
	}
	10% {
		transform: translate(-50%, -50%) rotate(45deg);
	}
	25% {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	30% {
		opacity: 1;
	}
	35% {
		transform: translate(-50%, -50%) rotate(50deg);
		opacity: 0;
	}
	93% {
		transform: translate(-50%, -50%) rotate(-90deg);
		opacity: 0;
	}
}


.circle-13 {
	width: 100px; height: 100px;
	transform: translate(-50%, -50%);
	animation: circle13AnimationSize 4s cubic-bezier(1, 0, 1, 1) infinite,
						 circle13AnimationView 4s ease infinite;
}
	.circle-13::before {
		width: 110px; height: 110px;
		border-radius: 50%;
		border: 1px solid rgb(251, 251, 251);
		transform: translate(-50%, -50%);
	}
	.circle-13::after {
		width: 120px; height: 120px;
		border-radius: 50%;
		border: 1px solid rgba(251, 251, 251, 0.5);
		transform: translate(-50%, -50%);
	}
@keyframes circle13AnimationSize {
	0%, 32%, 86%, 100% { transform: translate(-50%, -50%) scale(1); }
	38%, 82% { transform: translate(-50%, -50%) scale(0.2); }
}
@keyframes circle13AnimationView {
	/* подвигать */
	0% { opacity: 1; }
	2.5% { opacity: 0.5; }
	5.7% { opacity: 1; }
	6.6% { opacity: 0.5; }
	7.4% { opacity: 1; }
	8.2% { opacity: 0.5; }
	9.8% { opacity: 1; }
	10.7% { opacity: 0.5; }
	11.5%, 14% { opacity: 1; }
	14.8% { opacity: 0.5; }
	15.6% { opacity: 1; }
	18% { opacity: 0.5; }
	18.9% { opacity: 1; }
	20.5% { opacity: 0.5; }
	21.3% { opacity: 1; }
	22.1% { opacity: 0.5; }
	23.8% { opacity: 1; }
	24.6% { opacity: 0.5; }
	25.4% { opacity: 1; }
	27.9% { opacity: 0.5; }
	28.7%, 32% { opacity: 1; }
	38% { opacity: 0; }
	82% { opacity: 0; }
	86% { opacity: 1; }
	88.6% { opacity: 0.5; }
	90.2% { opacity: 0; }
	91.8% { opacity: 1; }
	92.7% { opacity: 0; }
	93.5% { opacity: 1; }
	96.8% { opacity: 0; }
	97.6% { opacity: 1; }
	99.2% { opacity: 0; }
	100% { opacity: 1; }
}

.circle-14 {
	width: 100px; height: 100px;
	transform: translate(-50%, -50%);
	animation: circle13AnimationSize 4s -0.15s cubic-bezier(1, 0, 1, 1) infinite,
						 circle14AnimationView 4s ease infinite;
}
	.circle-14::before {
		width: 70px; height: 70px;
		border-radius: 50%;
		border: 1px solid rgba(251, 251, 251, 0.5);
		transform: translate(-50%, -50%);
	}
	.circle-14::after {
		width: 95px; height: 95px;
		border-radius: 50%;
		border: 1px solid rgba(251, 251, 251, 0.3);
		transform: translate(-50%, -50%);
	}

@keyframes circle14AnimationView {
	/* подвигать */
	0% { opacity: 1; }
	2.5% { opacity: 0.5; }
	5.7% { opacity: 1; }
	6.6% { opacity: 0.5; }
	7.4% { opacity: 1; }
	8.2% { opacity: 0.5; }
	9.8% { opacity: 1; }
	10.7% { opacity: 0.5; }
	11.5%, 14% { opacity: 1; }
	14.8% { opacity: 0.5; }
	15.6% { opacity: 1; }
	18% { opacity: 0.5; }
	18.9% { opacity: 1; }
	20.5% { opacity: 0.5; }
	21.3% { opacity: 1; }
	22.1% { opacity: 0.5; }
	23.8% { opacity: 1; }
	24.6% { opacity: 0.5; }
	25.4% { opacity: 1; }
	27.9% { opacity: 0.5; }
	28.7%, 32% { opacity: 1; }
	38% { opacity: 0; }
	82% { opacity: 0; }
	86% { opacity: 1; }
	88.6% { opacity: 0.5; }
	90.2% { opacity: 0; }
	91.8% { opacity: 1; }
	92.7% { opacity: 0; }
	93.5% { opacity: 1; }
	96.8% { opacity: 0; }
	97.6% { opacity: 1; }
	99.2% { opacity: 0; }
	100% { opacity: 1; }
}


.glitch {
	width: 2px; height: 2px;
	box-shadow: -21px -75px #8AC7ED, -16px -78px #8AC7ED, -8px -78px #8AC7ED, -5px -77px #8AC7ED, -2px -79px #8AC7ED, 10px -79px #8AC7ED, 25px -73px #8AC7ED, 41px -71px #8AC7ED, 44px -68px #8AC7ED, -26px -72px #8AC7ED, -45px -62px #8AC7ED, -65px -57px #8AC7ED, 59px -49px #8AC7ED, 67px -52px #8AC7ED, 37px -69px #8AC7ED, 43px -62px #8AC7ED, 39px -62px #8AC7ED, 17px -71px #8AC7ED, 28px -67px #8AC7ED, 65px -32px #8AC7ED, 73px -24px #8AC7ED, 67px -25px #8AC7ED, 76px -14px #8AC7ED, 70px -18px #8AC7ED, 82px 21px #8AC7ED, 79px 20px #8AC7ED, 72px 15px #8AC7ED, 55px 45px #8AC7ED, 48px 51px #8AC7ED, 43px 58px #8AC7ED, 37px 57px #8AC7ED, 36px 63px #8AC7ED, 32px 76px #8AC7ED, 35px 70px #8AC7ED, 25px 71px #8AC7ED, 20px 75px #8AC7ED, 5px 70px #8AC7ED, 7px 75px #8AC7ED, -5px 79px #8AC7ED, 3px 78px #8AC7ED, -1px 77px #8AC7ED, -13px 78px #8AC7ED, -15px 82px #8AC7ED, -20px 76px #8AC7ED, -18px 78px #8AC7ED, -17px 75px #8AC7ED, -22px 72px #8AC7ED, -34px 72px #8AC7ED, -36px 69px #8AC7ED, -43px 74px #8AC7ED, -41px 72px #8AC7ED, -42px 69px #8AC7ED, -38px 66px #8AC7ED, -43px 63px #8AC7ED, -37px 61px #8AC7ED, -56px 66px #8AC7ED, -54px 61px #8AC7ED, -58px 54px #8AC7ED, -60px 41px #8AC7ED, -50px 56px #8AC7ED, -54px 57px #8AC7ED, -60px 52px #8AC7ED, -74px 35px #8AC7ED, -76px 18px #8AC7ED, -74px 25px #8AC7ED, -69px 23px #8AC7ED, -84px 13px #8AC7ED, -73px 3px #8AC7ED, -80px -1px #8AC7ED, -79px -4px #8AC7ED, -79px -7px #8AC7ED, -70px -11px #8AC7ED, -67px -23px #8AC7ED, -84px -13px #8AC7ED, -71px -42px #8AC7ED, -61px -49px #8AC7ED, -58px -43px #8AC7ED, -55px -50px #8AC7ED, -32px -72px #8AC7ED, -80px -30px #8AC7ED, -59px -20px #8AC7ED, -79px 12px #8AC7ED, -76px 1px #8AC7ED, 8px 57px #8AC7ED, 59px 36px #8AC7ED, 60px 46px #8AC7ED, 54px 59px #8AC7ED, 44px 52px #8AC7ED, -31px 20px #8AC7ED, -56px 2px #8AC7ED, 47px 35px #8AC7ED, 70px 6px #8AC7ED, 60px -2px #8AC7ED,
							-21px -75px 0 1px rgba(255, 255, 255, 0.1), -16px -78px 0 1px rgba(255, 255, 255, 0.1), -8px -78px 0 1px rgba(255, 255, 255, 0.1), -5px -77px 0 1px rgba(255, 255, 255, 0.1), -2px -79px 0 1px rgba(255, 255, 255, 0.1), 10px -79px 0 1px rgba(255, 255, 255, 0.1), 25px -73px 0 1px rgba(255, 255, 255, 0.1), 41px -71px 0 1px rgba(255, 255, 255, 0.1), 44px -68px 0 1px rgba(255, 255, 255, 0.1), -26px -72px 0 1px rgba(255, 255, 255, 0.1), -45px -62px 0 1px rgba(255, 255, 255, 0.1), -65px -57px 0 1px rgba(255, 255, 255, 0.1), 59px -49px 0 1px rgba(255, 255, 255, 0.1), 67px -52px 0 1px rgba(255, 255, 255, 0.1), 37px -69px 0 1px rgba(255, 255, 255, 0.1), 43px -62px 0 1px rgba(255, 255, 255, 0.1), 39px -62px 0 1px rgba(255, 255, 255, 0.1), 17px -71px 0 1px rgba(255, 255, 255, 0.1), 28px -67px 0 1px rgba(255, 255, 255, 0.1), 65px -32px 0 1px rgba(255, 255, 255, 0.1), 73px -24px 0 1px rgba(255, 255, 255, 0.1), 67px -25px 0 1px rgba(255, 255, 255, 0.1), 76px -14px 0 1px rgba(255, 255, 255, 0.1), 70px -18px 0 1px rgba(255, 255, 255, 0.1), 82px 21px 0 1px rgba(255, 255, 255, 0.1), 79px 20px 0 1px rgba(255, 255, 255, 0.1), 72px 15px 0 1px rgba(255, 255, 255, 0.1), 55px 45px 0 1px rgba(255, 255, 255, 0.1), 48px 51px 0 1px rgba(255, 255, 255, 0.1), 43px 58px 0 1px rgba(255, 255, 255, 0.1), 37px 57px 0 1px rgba(255, 255, 255, 0.1), 36px 63px 0 1px rgba(255, 255, 255, 0.1), 32px 76px 0 1px rgba(255, 255, 255, 0.1), 35px 70px 0 1px rgba(255, 255, 255, 0.1), 25px 71px 0 1px rgba(255, 255, 255, 0.1), 20px 75px 0 1px rgba(255, 255, 255, 0.1), 5px 70px 0 1px rgba(255, 255, 255, 0.1), 7px 75px 0 1px rgba(255, 255, 255, 0.1), -5px 79px 0 1px rgba(255, 255, 255, 0.1), 3px 78px 0 1px rgba(255, 255, 255, 0.1), -1px 77px 0 1px rgba(255, 255, 255, 0.1), -13px 78px 0 1px rgba(255, 255, 255, 0.1), -15px 82px 0 1px rgba(255, 255, 255, 0.1), -20px 76px 0 1px rgba(255, 255, 255, 0.1), -18px 78px 0 1px rgba(255, 255, 255, 0.1), -17px 75px 0 1px rgba(255, 255, 255, 0.1), -22px 72px 0 1px rgba(255, 255, 255, 0.1), -34px 72px 0 1px rgba(255, 255, 255, 0.1), -36px 69px 0 1px rgba(255, 255, 255, 0.1), -43px 74px 0 1px rgba(255, 255, 255, 0.1), -41px 72px 0 1px rgba(255, 255, 255, 0.1), -42px 69px 0 1px rgba(255, 255, 255, 0.1), -38px 66px 0 1px rgba(255, 255, 255, 0.1), -43px 63px 0 1px rgba(255, 255, 255, 0.1), -37px 61px 0 1px rgba(255, 255, 255, 0.1), -56px 66px 0 1px rgba(255, 255, 255, 0.1), -54px 61px 0 1px rgba(255, 255, 255, 0.1), -58px 54px 0 1px rgba(255, 255, 255, 0.1), -60px 41px 0 1px rgba(255, 255, 255, 0.1), -50px 56px 0 1px rgba(255, 255, 255, 0.1), -54px 57px 0 1px rgba(255, 255, 255, 0.1), -60px 52px 0 1px rgba(255, 255, 255, 0.1), -74px 35px 0 1px rgba(255, 255, 255, 0.1), -76px 18px 0 1px rgba(255, 255, 255, 0.1), -74px 25px 0 1px rgba(255, 255, 255, 0.1), -69px 23px 0 1px rgba(255, 255, 255, 0.1), -84px 13px 0 1px rgba(255, 255, 255, 0.1), -73px 3px 0 1px rgba(255, 255, 255, 0.1), -80px -1px 0 1px rgba(255, 255, 255, 0.1), -79px -4px 0 1px rgba(255, 255, 255, 0.1), -79px -7px 0 1px rgba(255, 255, 255, 0.1), -70px -11px 0 1px rgba(255, 255, 255, 0.1), -67px -23px 0 1px rgba(255, 255, 255, 0.1), -84px -13px 0 1px rgba(255, 255, 255, 0.1), -71px -42px 0 1px rgba(255, 255, 255, 0.1), -61px -49px 0 1px rgba(255, 255, 255, 0.1), -58px -43px 0 1px rgba(255, 255, 255, 0.1), -55px -50px 0 1px rgba(255, 255, 255, 0.1), -32px -72px 0 1px rgba(255, 255, 255, 0.1), -80px -30px 0 1px rgba(255, 255, 255, 0.1), -59px -20px 0 1px rgba(255, 255, 255, 0.1), -79px 12px 0 1px rgba(255, 255, 255, 0.1), -76px 1px 0 1px rgba(255, 255, 255, 0.1), 8px 57px 0 1px rgba(255, 255, 255, 0.1), 59px 36px 0 1px rgba(255, 255, 255, 0.1), 60px 46px 0 1px rgba(255, 255, 255, 0.1), 54px 59px 0 1px rgba(255, 255, 255, 0.1), 44px 52px 0 1px rgba(255, 255, 255, 0.1), -31px 20px 0 1px rgba(255, 255, 255, 0.1), -56px 2px 0 1px rgba(255, 255, 255, 0.1), 47px 35px 0 1px rgba(255, 255, 255, 0.1), 70px 6px 0 1px rgba(255, 255, 255, 0.1), 60px -2px 0 1px rgba(255, 255, 255, 0.1);
	filter: blur(1px);

	animation: glitchAnimationOpacity 4s cubic-bezier(1, 0, 1, 1) infinite,
						 glitchAnimationMove 4s cubic-bezier(1, 0, 1, 1) infinite,
						 glitchAnimationBright 4s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes glitchAnimationOpacity {
	0%, 30%, 96%, 100% { opacity: 1; }
	35%, 93% 					 { opacity: 0; }
}
@keyframes glitchAnimationMove {
	0%, 100% { transform: translate(-50%, -50%) rotate(0deg); }
	35%, 65% { transform: translate(-50%, -50%) rotate(4320deg); }
}
@keyframes glitchAnimationBright {
	0%, 100% { filter: blur(1px); }
	35%, 65% { filter: blur(1px) brightness(1.8); }
}


.fragment-1::before {
	width: 6px; height: 6px;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 2px;
	
	animation: fragment1BeforeAnimationMove 4s -0.15s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes fragment1BeforeAnimationMove {
	0%, 100% {
		transform: rotate(0deg) translate(71px, -181px);
		opacity: 1;
	}
	37% {
		transform: rotate(15deg) translate(71px, -181px);
		opacity: 1;
	}
	37.1%, 76.9% {
		opacity: 0;
	}
	77% {
		transform: rotate(-2deg) translate(71px, -181px);
		opacity: 1;
	}
	90% {
		transform: rotate(-9deg) translate(71px, -181px);
	}
}


.fragment-1::after {
	width: 6px; height: 6px;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 2px;

	animation: fragment1AfterAnimationMove 4s -0.15s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes fragment1AfterAnimationMove {
	0%, 100% {
		transform: rotate(0deg) translate(285px, 48px);
		opacity: 1;
	}
	7% {
		transform: rotate(5deg) translate(285px, 48px);
	}
	22% {
		transform: rotate(-1deg) translate(285px, 48px);
	}
	40% {
		transform: rotate(-3deg) translate(285px, 48px);
		opacity: 1;
	}
	40.1%, 81.9% {
		opacity: 0;
	}
	82% {
		transform: rotate(-15deg) translate(285px, 48px);
		opacity: 1;
	}
}


.fragment-2::after {
	width: 6px; height: 6px;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 2px;

	animation: fragment2AfterAnimationMove 4s -0.15s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes fragment2AfterAnimationMove {
	0%, 100% {
		transform: rotate(0deg) translate(-220px, 162px);
		opacity: 1;
	}
	46% {
		transform: rotate(-8deg) translate(-220px, 162px);
		opacity: 1;
	}
	46.1%, 97.9% {
		opacity: 0;
	}
	98% {
		transform: rotate(2deg) translate(-220px, 162px);
		opacity: 1;
	}
}


.fragment-2::before {
	width: 6px; height: 6px;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 2px;

	animation: fragment2BeforeAnimationMove 4s -0.15s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes fragment2BeforeAnimationMove {
	0%, 100% {
		transform: rotate(0deg) translate(284px, 111px);
		opacity: 1;
	}
	2% {
		transform: rotate(2deg) translate(284px, 111px);
	}
	9% {
		transform: rotate(-5deg) translate(284px, 111px);
	}
	15%, 22% {
		transform: rotate(-3deg) translate(284px, 111px);
	}
	27% {
		transform: rotate(-2deg) translate(284px, 111px);
		opacity: 1;
	}
	38.9% {
		transform: rotate(-9deg) translate(284px, 111px);
	}
	39%, 76.9% {
		opacity: 0;
	}
	77% {
		transform: rotate(-9deg) translate(284px, 111px);
		opacity: 1;
	}
}


.fragment-3::after {
	width: 6px; height: 6px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 2px;

	animation: fragment3AfterAnimationMove 4s -0.15s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes fragment3AfterAnimationMove {
	0%, 4.9%, 65.1%, 100% {
		opacity: 0;
	}
	5% {
		transform: rotate(0deg) translate(183px, 198px);
		opacity: 1;
	}
	16% {
		transform: rotate(-9deg) translate(284px, 111px);
		opacity: 1;
	}
	16.1%, 60.9% {
		opacity: 0;
	}
	61% {
		transform: rotate(5deg) translate(284px, 111px);
		opacity: 1;
	}
	65% {
		transform: rotate(10deg) translate(284px, 111px);
		opacity: 1;
	}
}


.fragment-3::before {
	width: 6px; height: 6px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 2px;

	animation: fragment3BeforeAnimationMove 4s -0.15s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes fragment3BeforeAnimationMove {
	0%, 100% {
		transform: rotate(0deg) translate(-253px, -126px);
		opacity: 1;
	}
	22% {
		transform: rotate(25deg) translate(-253px, -126px);
		opacity: 1;
	}
	22.1%, 95.9% {
		opacity: 0;
	}
	96% {
		transform: rotate(-5deg) translate(-253px, -126px);
		opacity: 1;
	}
}

.container{
    position: absolute;
    z-index: 100;
    text-align: center;
    margin: 0;
    padding: 0;
    cursor: none;
    /*background: rgba(217, 217, 217, 0.58);*/
    overflow: hidden;
    /*position: relative;*/
	width: 100vw;
	min-width: 800px;
	height: 100vh;
	min-height: 600px;
	display: none;
}

#eyeball {
  position: relative;
  overflow: hidden;
}

#eyeball::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(90deg,rgba(9, 0, 48, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
}
#eyeball.dark-mode::after {
  opacity: 1;
}

/* dark mode button  */

.theme-toggle{
	z-index: 100;
}

@import "https://unpkg.com/open-props/easings.min.css";

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center;
}

.sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill);
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill-hover);
}

.sun-and-moon > .sun-beams {
  stroke: var(--icon-fill);
  stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
  stroke: var(--icon-fill-hover);
}

[data-theme="dark"] .sun-and-moon > .sun {
  transform: scale(1.75);
}

[data-theme="dark"] .sun-and-moon > .sun-beams {
  opacity: 0;
}

[data-theme="dark"] .sun-and-moon > .moon > circle {
  transform: translateX(-7px);
}

@supports (cx: 1) {
  [data-theme="dark"] .sun-and-moon > .moon > circle {
    cx: 17;
    transform: translateX(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon > .sun {
    transition: transform .5s var(--ease-elastic-3);
  }

  .sun-and-moon > .sun-beams {
    transition: transform .5s var(--ease-elastic-4), opacity .5s var(--ease-3);
  }

  .sun-and-moon .moon > circle {
    transition: transform .25s var(--ease-out-5);
  }

  @supports (cx: 1) {
    .sun-and-moon .moon > circle {
      transition: cx .25s var(--ease-out-5);
    }
  }

  [data-theme="dark"] .sun-and-moon > .sun {
    transition-timing-function: var(--ease-3);
    transition-duration: .25s;
    transform: scale(1.75);
  }

  [data-theme="dark"] .sun-and-moon > .sun-beams {
    transition-duration: .15s;
    transform: rotateZ(-25deg);
  }

  [data-theme="dark"] .sun-and-moon > .moon > circle {
    transition-duration: .5s;
    transition-delay: .25s;
  }
}

.theme-toggle {
  --size: 2rem;
  --icon-fill: hsl(210 10% 30%);
  --icon-fill-hover: hsl(210 10% 15%);

  background: none;
  border: none;
  padding: 0;

  inline-size: var(--size);
  block-size: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;

  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  outline-offset: 5px;

  & > svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
  }

  @nest [data-theme="dark"] & {
    --icon-fill: hsl(210 10% 70%);
    --icon-fill-hover: hsl(210 15% 90%);
  }

  @media (hover: none) {
    --size: 48px;
  }
}

#logout-btn {
  display: none;
  margin: auto;
  box-sizing: border-box;
  width: auto;
  height: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  background: rgba(133, 133, 133, 0.58);
  border: 1px solid rgb(201, 201, 201);
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  align-items: center;
  user-select: none;
  font-weight: normal;
  color: black;
}

#reset-btn{
  margin: auto;
  box-sizing: border-box;
  width: auto;
  height: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  background: rgba(133, 133, 133, 0.58);
  border: 1px solid rgb(201, 201, 201);
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: normal;
  color: black;
}

.buttons{
    font-family: 'Roboto Mono';
	display: flex;
	gap: 1rem;
	margin: 1rem;
	font-size: 0.8rem;
}

.forget{
  background-color: transparent;
  margin: auto;
  width: fit-content;
  height: fit-content;
  position: relative;
  z-index: 2000;
  text-align: center;
}


#reset-btn:hover, #logout-btn:hover {
  border: 1px solid black;
  transform: scale(1.05);
}
 .non-bt:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

#reset-btn:active, #logout-btn:active{
  transform: scale(0.95) rotateZ(1.7deg);
}
